@import "./global.css";

aside,
main {
  width: 50vw;
}

aside,
.carousel-item {
  background-color: var(--accent-dark-gray);
}

button {
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  line-height: inherit;
}

@media screen and (max-width: 420px) {
  body {
    font-size: 75%;
  }

  button {
    margin: 0;
    font-size: 10px;
    font-family: inherit;
    line-height: inherit;
  }
}

@media screen and (max-width: 315px) {
  body {
    font-size: 60%;
  }
  button {
    margin: 0;
    font-size: 8px;
    font-family: inherit;
    line-height: inherit;
  }
}
