@import "global.css";

main {
  background-color: var(--bg-dark-gray);
}

#intro {
  min-height: 35vh;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.gallery__image-container {
  transition: border 0.3s ease-in-out;
  position: relative;
  min-height: fit-content;
  aspect-ratio: 4 / 3;
}

.gallery__image-container:hover {
  border: 8px solid var(--accent-dark-gray) !important;
}

.gallery__image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image-text {
  position: absolute;
  bottom: 0;
  padding: 1em;
  color: var(--primary-color);
}

.gallery__image-text > * {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
