@import "global.css";

main {
  background-color: var(--bg-dark-gray);
}

p{
  font-size: 22px;
}

#intro {
  min-height: 35vh;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#images__container{
display:flex;
justify-content: center;
}
.gallery__image-container {
  transition: border 0.3s ease-in-out;
  position: relative;
  min-height: fit-content;
}

.gallery__image-container:hover {
  border: 8px solid var(--accent-dark-gray) !important;
}
.gallery__image-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery__image-text {
  position: absolute;
  bottom: 0;
  padding: 1em;
  color: var(--primary-color);
  font-size: 14px;
}

.gallery__image-text > * {
  background: rgb(0, 0, 0, 0.5);
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 420px){
  h1{
    font-size: 20px;
  }

p{
  font-size: 14px;
}

  span{
    font-size: 80%;
  }
  
  h5{
    font-size: 100%;
  }

}

@media screen and (max-width: 315px){
  h1{
    font-size: 18px;
  }

  p{
    font-size: 12px;
  }

  h5{
    font-size: 100%;
  }

  span{
    font-size: 65%;
  }
}

@media screen and (max-width: 555px){
  span{
    font-size: 80% !important;
  }
  
  h5{
    font-size: 100% !important;
  }
}

@media screen and (max-width: 1005px  ){

  h5{
    font-size: 9px;
  }

  span{
    font-size: 6px;
  }
}