html {
  background-color: black;
}

div.gallery {
    border: 1px solid white;
    margin: 1.5px;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1.5px solid darkblue;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }