:root {
  --bg-dark-gray: rgb(11, 11, 25);
  --accent-dark-gray: rgb(56, 56, 128);
  --primary-color: rgb(255, 255, 255);
  --radius: 1em 0 0 0;
  --pale-black: rgb(46, 46, 45);
  --dark-green: rgb(3, 109, 21);
  --bg-dark-gray-pale: rgb(17, 17, 37);
  --add-place-outline-purple: rgb(42, 42, 83);
  --add-place-outline-purple2: rgb(35, 35, 66);
  --add-place-outline-purple3: rgb(33, 33, 75);
}

body {
  margin: 0;
  background-color: var(--bg-dark-gray);
}

input,
textarea {
  appearance: none;
  background-color: var(--bg-dark-gray);
  padding: 0.5em 0.75em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius);
  color: var(--primary-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color) !important;
  opacity: 1;
}

.button__primary{
  background-color: var(--accent-dark-gray);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius) !important;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15;
  font-weight: bold;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: var(--bg-dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
