:root {
  --bg-dark-gray: rgb(11, 11, 25);
  --accent-dark-gray: rgb(56, 56, 128);
  --primary-color: rgb(255, 255, 255);
  --radius: 1em 0 0 0;
  --accent-dark-green: rgb(79, 128, 56);
}

body {
  margin: 0;
}

input[type="text"] {
  appearance: none;
  background-color: var(--bg-dark-gray);
  padding: 0.5em 0.75em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius);
  color: var(--primary-color);
}

input[type="text"]::placeholder {
  color: var(--primary-color) !important;
  opacity: 1;
}

button {
  background-color: var(--accent-dark-gray);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius) !important;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s;
  font-weight: bold;
}


button:hover {
  background-color: var(--bg-dark-gray);
}
