@import "header.css";

:root {
  --bg-dark-gray: rgb(11, 11, 25);
  --accent-dark-gray: rgb(56, 56, 128);
  --primary-color: rgb(255, 255, 255);
  --radius: 1em 0 0 0;
  --pale-black: rgb(46, 46, 45);
  --dark-green: rgb(3, 109, 21);
  --bg-dark-gray-pale: rgb(17, 17, 37);
  --add-place-outline-purple: rgb(42, 42, 83);
  --add-place-outline-purple2: rgb(35, 35, 66);
  --highlighted-purple: rgb(68, 68, 116);
}

body {
  margin: 0;
  background-color: var(--bg-dark-gray);
}

input,
textarea {
  appearance: none;
  background-color: var(--bg-dark-gray);
  padding: 0.5em 0.75em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius);
  color: var(--primary-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color) !important;
  opacity: 1;
}

.button-primary {
  background-color: var(--accent-dark-gray);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: var(--radius) !important;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15;
  font-weight: bold;
}

.button-secondary {
  background-color: var(--bg-dark-gray);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s;
  font-weight: bold;
}

.button-secondary:hover {
  background-color: var(--pale-black);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: var(--bg-dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/**TEST BUTTON**/
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--highlighted-purple);
  border-bottom-color: var(--highlighted-purple);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
/**TEST BUTTON END**/