@import "global.css";

#map__container {
  background-color: var(--bg-dark-gray);
}

#map__loader {
  background-color: var(--bg-dark-gray);
  transition: opacity 0.5s !important;
  z-index: 1000 !important;
}

#map__loader__text > * {
  margin: 0;
  text-align: center;
}

aside {
  z-index: 149;
  background-color: var(--bg-dark-gray);
  height: fit-content;
  border-radius: var(--radius);
  font-size: 15px;
}

#search__results {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  max-height: 20vh;
}

.search__result {
  padding: 1em;
  border-radius: var(--radius);
  border: 1px solid var(--accent-dark-gray);
  cursor: pointer;
  transition: background-color 0.15s;
}

.search__result:hover {
  background-color: var(--accent-dark-gray);
}

.search__result > * {
  font-size: 12px;
  margin: 0.25rem 0;
}

#side__menu__button,
#add__place_button {
  background-color: var(--bg-dark-gray);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: 0 !important;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s;
  font-weight: bold;
  margin-right: 5px;
}
#add__place_button {
  background-color: var(--accent-dark-green);
}

.cancelbutton {
  background: none;
  max-width: 50%;
  max-height: 50%;
}
#side__menu {
  position: relative;
  display: none;
  background-color: var(--bg-dark-gray);
  flex-direction: column;
  width: 2 00px !important;
  padding: 5px;
  margin: 0;
}
#side__menu__content button {
  appearance: none;
  border: none;
  background-color: transparent;
  margin: 5px;
  font-size: 15px;
  width: 100% !important;
  text-align: center;
  border-bottom: rgb(38, 37, 37) solid 0.5px;
  color: white;
}
#side__menu__content button:hover {
  color: rgb(106, 105, 105);
  background-color: rgb(54, 54, 54);
}
#side__menu__content button * {
  color: white;

  position: relative;
}

#side__menu__button:hover {
  background-color: var(--pale-black);
}
@media screen and (max-width: 500px) {
  #map__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark-gray);
  }

  #map__container > * {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }

  #map__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-gray);
    color: white;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 150;
  }

  #map__loader__text > * {
    margin: 0;
    text-align: center;
  }

  aside {
    z-index: 149;
    background-color: var(--bg-dark-gray);
    height: fit-content;
    border-radius: 0% !important;
    font-size: 12px;
  }
  .search__result > * {
    font-size: 10px;
    margin: 0.25rem 0;
  }
}
