@import "global.css";

#map__container {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark-gray);
}

#map__container > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map__loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark-gray);
  color: white;
  transition: opacity 0.5s;
  pointer-events: none;
  z-index: 150;
}

#map__loader__text > * {
  margin: 0;
  text-align: center;
}

aside {
  z-index: 149;
  position: absolute;
  top: 2em;
  left: 2em;
  padding: 2em;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark-gray);
  color: var(--primary-color);
  transition: opacity 0.5s;
  border-radius: var(--radius);
  gap: 1.5em;
}

#search__container {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

#search__results {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  max-height: 50vh;
}

.search__result {
  padding: 1em;
  border-radius: var(--radius);
  border: 1px solid var(--accent-dark-gray);
  cursor: pointer;
  transition: background-color 0.15s;
}

.search__result:hover {
  background-color: var(--accent-dark-gray);
}

.search__result > * {
  margin: 0.25rem 0;
}

@media screen and (max-width: 400px) {
  #map__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark-gray);
  }

  #map__container > * {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }

  #map__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-gray);
    color: white;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 150;
  }

  #map__loader__text > * {
    margin: 0;
    text-align: center;
  }

  aside {
    font-size: 20px;
    z-index: 149;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark-gray);
    color: var(--primary-color);
    transition: opacity 0.5s;
    border-radius: var(--radius);
    gap: 1.5em;
  }
}
