@import "global.css";

#map__container {
  background-color: var(--bg-dark-gray);
}

#map__loader {
  background-color: var(--bg-dark-gray);
  transition: opacity 0.5s !important;
  z-index: 1000 !important;
}

#map__loader__text > * {
  margin: 0;
  text-align: center;
}

#location {
  margin-bottom: 15px;
}

aside {
  z-index: 149;
  background-color: var(--bg-dark-gray);
  height: fit-content;
  border-radius: var(--radius);
  font-size: 15px;
}

#search__results {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  max-height: 20vh;
}

.search__result {
  padding: 1em;
  border-radius: var(--radius);
  border: 1px solid var(--accent-dark-gray);
  cursor: pointer;
  transition: background-color 0.15s;
}

.search__result:hover {
  background-color: var(--accent-dark-gray);
}

.search__result > * {
  font-size: 12px;
  margin: 0.25rem 0;
}
.cancelbutton {
  background: none;
  max-width: 50%;
  max-height: 50%;
}

.fa-solid,
.fas {
  font-weight: 900;
  color: white;
}

#side__menu__buton,
#add__place_button {
  margin-right: 5px;
}

#add__place__button,
#get__my__location__button {
  margin-left: 3px;
  background-color: var(--accent-dark-gray);
  border: 1px solid var(--accent-dark-gray);
}

#add__place__button:hover {
  background-color: var(--bg-dark-gray);
}
#see__through__div {
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

#box123 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 90vh;
  top: 20px;
  left: 40px;
}

#animation {
  max-height: 50px;
}

#add__place__interface {
  flex: 1;
  overflow-y: scroll;
  display: none;
  position: relative;
  flex-direction: column;
  background-color: var(--bg-dark-gray);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--add-place-outline-purple);
}
#add__place__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
#add__place__form * {
  border: 1px solid var(--add-place-outline-purple);
}
#add__place__submit {
  font-size: 14px;
  background-color: var(--accent-dark-gray);
  margin-top: 5px;
  color: #fff;
}

#side__menu {
  position: relative;
  display: none;
  background-color: var(--bg-dark-gray);
  flex-direction: column;
  padding: 5px;
  margin: 0;
}

#side__menu__content {
  overflow-x: scroll;
}

#side__menu__content button {
  appearance: none;
  border: none;
  background-color: transparent;
  margin: 5px;
  font-size: 15px;
  width: 100% !important;
  text-align: center;
  border-bottom: rgb(38, 37, 37) solid 0.5px;
  color: white;
}
#side__menu__content button:hover {
  color: rgb(106, 105, 105);
  background-color: rgb(54, 54, 54);
}
#side__menu__content button * {
  color: white;
  position: relative;
}
#add__place__back__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

#add__place__back__button:hover {
  background-color: grey;
}

#side__menu__button:hover {
  color: white;
}

.add__to__post {
  background-color: var(--accent-dark-gray);
  border: none;
  color: white;
}

/**TEST BUTTON**/
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--highlighted-purple);
  border-bottom-color: var(--highlighted-purple);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

#title {
  font-size: 15px;
}

#description {
  font-family: inherit;
  font-size: 12px;
  max-height: 120px;
}

h6 {
  font-size: 14px;
}

/**end of TEST BUTTON**/
@media screen and (max-width: 420px) {
  h6 {
    font-size: 12px;
  }

  #add__place__submit {
    font-size: 12px;
    background-color: var(--accent-dark-gray);
    margin-top: 5px;
    color: #fff;
  }
  .search__result > * {
    font-size: 10px;
    margin: 0.25rem 0;
  }

  #title {
    font-size: 12px;
  }

  #description {
    font-family: inherit;
    font-size: 10px;
    max-height: 120px;
  }

  #map__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark-gray);
  }

  #map__container > * {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }

  #map__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-gray);
    color: white;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 150;
  }

  #map__loader__text > * {
    margin: 0;
    text-align: center;
  }

  .search__result > * {
    font-size: 10px;
    margin: 0.25rem 0;
  }

  #box123 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 90vh;
    max-width: 365px;
    top: 20px;
    left: 12px;
  }
  aside {
    z-index: 149;
    background-color: var(--bg-dark-gray);
    height: fit-content;
    border-radius: var(--radius);
    font-size: 12px;
  }
}

.image__hover {
  border: 2px groove white !important;
}

.post__image {
  max-height: 500px;
  max-width: 800px;
}

@media screen and (max-width: 380px) {
  h6 {
    font-size: 10px;
  }

  #add__place__submit {
    font-size: 10px;
    background-color: var(--accent-dark-gray);
    margin-top: 5px;
    color: #fff;
  }
  .search__result > * {
    font-size: 8px;
    margin: 0.25rem 0;
  }

  #title {
    font-size: 10px;
  }

  #description {
    font-family: inherit;
    font-size: 8px;
    max-height: 120px;
  }

  #box123 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 90vh;
    max-width: 310px;
    top: 10px;
    left: 7px;
  }

  aside {
    z-index: 149;
    background-color: var(--bg-dark-gray);
    height: fit-content;
    border-radius: var(--radius);
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  h6 {
    font-size: 8px;
  }

  #add__place__submit {
    font-size: 8px;
    background-color: var(--accent-dark-gray);
    margin-top: 5px;
    color: #fff;
  }
  .search__result > * {
    font-size: 8px;
    margin: 0.25rem 0;
  }

  #title {
    font-size: 8px;
  }

  #description {
    font-family: inherit;
    font-size: 6px;
    max-height: 120px;
  }

  #box123 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 90vh;
    max-width: 265px;
    top: 10px;
    left: 6px;
  }

  aside {
    z-index: 149;
    background-color: var(--bg-dark-gray);
    height: fit-content;
    border-radius: var(--radius);
    font-size: 8px;
  }
}
