@import "global.css";

#map__container {
  background-color: var(--bg-dark-gray);
}

#map__loader {
  transition: opacity 0.5s !important;
  z-index: 1000 !important;
}

#map__loader__text > * {
  margin: 0;
  text-align: center;
}

aside {
  z-index: 149;
  background-color: var(--bg-dark-gray);
  height: fit-content;
  border-radius: var(--radius);
  font-size: 15px;

}

#search__results {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  max-height: 20vh;
}

.search__result {
  padding: 1em;
  border-radius: var(--radius);
  border: 1px solid var(--accent-dark-gray);
  cursor: pointer;
  transition: background-color 0.15s;
}

.search__result:hover {
  background-color: var(--accent-dark-gray);
}

.search__result > * {
  font-size: 12px;
  margin: 0.25rem 0;
}


#add__Button {
  background-color: var(--accent-dark-green);
  color: var(--primary-color);
  padding: 0.5em 1em;
  border: 1px solid var(--accent-dark-gray);
  border-radius: 25% !important;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  #map__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark-gray);
  }

  #map__container > * {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }

  #map__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-gray);
    color: white;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 150;
  }

  #map__loader__text > * {
    margin: 0;
    text-align: center;
  }

  aside {
    z-index: 149;
    background-color: var(--bg-dark-gray);
    height: fit-content;
    border-radius: var(--radius);
    font-size: 12px;

  }
  .search__result > * {
    font-size: 10px;
    margin: 0.25rem 0;
  }
}
