body {
    background-color: black !important;
  }

.table-container{
    position: relative;    
    top: 0;
    left: 0;
    opacity: 0.7;
}
  
.flex-box{
    font-size: 18px !important;
    flex: 1;
    max-width: 100%;
    max-height: 100%;    
    position: relative;
}


.fa-solid,
.fas {
  font-weight: 900;
}

.btn-one {
    border-color: black;
    background-color: transparent;
    text-align: right;
    color: #fff;
    transition: all 0.3s;
    z-index: 9;
    margin: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
 
  .btn-one:hover {
    background-color: gray;  
}

@media screen and (max-width: 420px) {
    .flex-box{
        font-size: 70% !important;
        flex: 1;
        max-width: 100%;
        max-height: 100%;    
        position: relative;
    }
}

@media screen and (max-width: 300px) {
    .flex-box{
        font-size: 45% !important;
        flex: 1;
        max-width: 100%;
        max-height: 100%;    
        position: relative;
    }
}