@import "global.css";

body {
  background-color: var(--bg-dark-gray);
  color: var(--primary-color);
}

#leaderboard__loader {
  background-color: var(--bg-dark-gray);
  transition: opacity 0.3s;
}

#leaderboard__tops > div {
  border: 1px solid var(--accent-dark-gray);
}

#head > span > *,
#leaderboard__loader > *,
#leaderboard__tops > div > * {
  margin: 0;
}

/* .btn-one {
  border-color: black;
  background-color: transparent;
  text-align: right;
  color: #fff;
  transition: all 0.3s;
  z-index: 9;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.btn-one:hover {
  background-color: gray;
} */
