@import "./global.css";

#intro {
  transition: opacity 0.5s;
  background-color: var(--bg-dark-gray);
  z-index: 100;
}

#intro__accordion {
  width: 50%;
}

#game__container {
  border-color: var(--accent-dark-gray) !important;
  border-radius: var(--radius) !important;
  overflow: hidden !important;
  max-height: 640px;
}

#game__container-loader {
  z-index: 1;
  transition: opacity 0.5s linear 0.5s;
  background-color: var(--bg-dark-gray);
}

img {
  flex-grow: 0;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 640px) {
  #guess__container {
    flex-direction: column !important;
    gap: 1em !important;
    height: fit-content;
  }

  #intro__accordion {
    width: 100%;
  }
}
